################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/.vs/SSA.API
/SSA.API.Common/bin/Debug
/SSA.API.Common/obj/Debug
/SSA.API.ConsoleApp/bin/Debug
/SSA.API.ConsoleApp/obj/Debug
/SSA.API.UnitTestProject/bin/Debug
/SSA.API.UnitTestProject/obj/Debug
/SSA.API.LOG/archives
/SSA.API.LOG/bin
/SSA.API.LOG/obj/Debug
/SSA.API.LOG/ProjectLogs
/SSA.API.Repository/bin/Debug
/SSA.API.Repository/obj/Debug
